*{
    margin: 0 auto; padding: 0;
}
.navbar h4{
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar{
    width: 100%;
    height: 20vh;
    background-color: aquamarine;
}
.exibir{
    width: 100%;
    height: 40vh;
    background-color:cadetblue;
    margin-top: 10px;
}
.frutas{
    width: 100%;
    height: 300vh;
    background-color: coral;
    margin-top: 10px;
}

.pagamento{
    margin-top: 10px;
     width: 100%;
     height: 75vh;
     background-color: forestgreen;
}

.pagamento img{
    width: 50%;
    height: 80px;
    margin-left: 25%;
    margin-top: 10px;
  
}
.pagamento h2{
    margin: 2%;
    border: black dotted 0.1px;
    width: 20%;
    text-align: center;
}
.pagamento label, select{
   margin: 0.7%;
    width: 50%;
    height: 30px;
}
.pagamento input{
    margin: 2%;
    width: 50%;
    height: 27px;
}












.contato{
    background-color:#7a297a;
    width: 100%;
    height: 30vh;
}